:root {
  --primary-color:#f9f1f0;
  --secondary-color: #fadcd9;
  --text-color: #211f1f;
  --font-family: 'Arial', sans-serif;
}


body{
  margin: 0;
  font-family: var(--font-family);
  background-color: var(--secondary-color);
  color: var(--text-color);
}

a{
  text-decoration: none;
  color: inherit;
}

